html{
   font-family: 'Montserrat', sans-serif;
   /* margin-left: 15%;
   margin-right: 15%; */
   color: #e9cfcb;
}

body{
   background-color: rgb(107, 80, 67);
   margin: 0;
}

.titulo {
   font-size: 60px;
   text-shadow: 0px 0px 8px rgb(0, 0, 0);
   letter-spacing: 5px;
   text-align: center;
   display: flex;
   height: 700px;
   justify-content: center;
   align-items: center;
   background-image: url("https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2017-06/parques-nacionales-chile-3.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   margin-top: 0;
   margin-bottom: 0;
}

.info{
   padding: 3%;
   margin-top: 5%;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 3%;
   border: 2px solid #e9cfcb;
   border-radius: 14px;
   text-align: justify;
}

.info > h3{
   line-height: 1px;
}

p {
   color: #fff;
   line-height: 30px;
}

.imagen {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 4%;
   height: 400px;
}

#logo {
   display: block;
   background-color: rgb(255, 255, 255);
   padding: .8%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5%;
}